@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

/* ---------- GLOBAL STYLES ---------- */

header {
  padding: 2rem 0;
  width: 100%;
  background-color: #23232e;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
    }

    a:hover {
      opacity: 0.7;
    }

    .logo {
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
    }

    /* ---------- MOBILE MENU ---------- */

    .mobile-menu {
      display: none;
      cursor: pointer;
    }

    .mobile-menu div {
      width: 3rem;
      height: 0.2rem;
      background-color: #fff;
      margin: 0.8rem;
      transition: 0.3s;
    }

    /* ---------- MOBILE MENU ---------- */

    .nav-list {
      list-style-type: none;
      display: flex;
      gap: 3rem;

      li {
        letter-spacing: 0.3rem;
        font-size: 1.4rem;
      }
    }
  }
}

main {
  background: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWV3LTAxM18xXzEuanBn.jpg)
    no-repeat center center/cover;
  height: calc(100dvh - 7rem);
}

@media only screen and (max-width: 999px) {
  header {
    padding: 1.5rem 0;

    nav {
      .mobile-menu {
        display: block;
      }

      .nav-list {
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0rem;

        top: 6rem;
        right: -100%;
        width: 100%;
        height: calc(100dvh - 6rem);
        background-color: #23232e;
        transition: transform 0.3s ease-in;

        li {
          opacity: 0;
          font-size: 2.2rem;
        }
      }

      .nav-list.active {
        right: 0;
      }

      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-0.8rem, 0.8rem);
      }

      .mobile-menu.active .line2 {
        opacity: 0;
      }

      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-0.5rem, -0.7rem);
      }
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ---------- ANIMATES ---------- */
